/*!
 *
 * Evgeniy Ivanov - 2021
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
@import 'mixins/mixin';

// Import files
@import 'variables/variables';
@import 'core/loader';
@import 'core/reset';
@import 'core/fonts';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/buttons';
@import 'core/icon';
@import 'core/img';
@import 'core/nav';
@import 'core/navbar';
@import 'core/search';
@import 'core/parts';
@import 'core/sales';
@import 'core/single';

@import 'core/menu';
@import 'core/menuTop';
@import 'core/menuTitle';
@import 'core/menuSlider';
@import 'core/menuList';

.not_scroll {
    overflow: hidden;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: none;
    z-index: 10;
    background-color: rgb(27, 62, 61);

    &.open {
        display: block;
    }

    &__content {
        padding: 0;
    }

    &__close {
        position: absolute;
        z-index: 10;

        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 100%;
            border: 1px solid;
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }
    }
}
