/*!
 *
 * Evgeniy Ivanov - 2021
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
@import 'mixins/mixin'; // Fonts

// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/fonts';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
// @import 'core/grid';
// @import 'core/soc';
// @import 'core/breadcrumb';
// @import 'core/pagination';
@import 'core/buttons';
// @import 'core/video';
@import 'core/icon';
@import 'core/nav';
@import 'core/navbar';
@import 'core/search';

.loader {
    background: #1B3E3D url("../img/logo.svg") center no-repeat;
    background-size: 129px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    // transition: 0.3s;

    &.hide {
        // top: -100%;
        animation: hideLoader 0.5s forwards;
    }
}

@keyframes hideLoader {
    0% {
        opacity: 1;
        top: 0;
    }

    50% {
        opacity: 0;
    }

    55% {
        top: 0;
    }

    100% {
        opacity: 0;
        top: -100%;
    }
}

$pp: 43px;

.parts {
    display: flex;
    margin: 55px 0 50px (-$pp);

    &__item {
        padding-left: $pp;
        text-align: center;
        width: 50%;
        transition: 0.3s;
    }

    &__name {
        display: inline-block;
        margin-top: 48px;
        font-weight: 500;
        font-size: 52px;
        text-transform: uppercase;

        &:before {
            content: '';
            width: 279px;
            display: block;
            border-top: 3px solid #BCA48D;
            margin-bottom: 18px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}

.img {
    width: 100%;
    padding-bottom: 93%;
    position: relative;
    display: block;
    border-radius: 24px;
    overflow: hidden;

    img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sales {
    margin: 100px 0 12px;

    &__title {
        font-weight: 500;
        font-size: 80px;
        color: $color_primary;
        text-transform: uppercase;
        margin: 0 0 18px;
    }

    &__content {}

    &__img {
        @extend .img;
        padding-bottom: 42.4%;
        transition: 0.3s;
    }

    &__video {
        margin-top: 33px;
        padding-bottom: 507px;
        position: relative;
        max-width: 1088px;

        iframe,
        object,
        video {
            border-radius: 24px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

}

.menuTop {
    display: flex;
    justify-content: space-between;
    margin-right: 194px;
    position: relative;
    // align-items: center;

    &__back {}

}

.menu {
    &Part {
        position: absolute;
        right: 0;
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: $color_primary;
    }

    &Back {
        &:not(:empty) {
            font-size: 32px;
            text-transform: uppercase;
            font-weight: 500;
            background: url("../img/back.svg") 0 center no-repeat;
            padding-left: 25px;
            margin-bottom: 49px;
        }
    }
}

.menuTitle {
    font-weight: 500;
    font-size: 80px;
    line-height: 1.15;
    text-transform: uppercase;
    margin: 0;
    color: $color_primary;
    margin-left: -7px;

    &_lg {
        font-size: 160px;
        font-weight: 400;
        line-height: 1.02;
        margin-bottom: -36px;
    }

    &__count {
        color: $main_color;
    }
}

.menuSlider {
    display: flex;
    margin-left: -56px;
    margin-right: -56px;
    margin-bottom: 106px;
    padding: 0 0 46px 33px;
    overflow-x: auto;
    background: url("../img/arrow.svg") left 85px bottom 2px no-repeat;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &__item {
        padding-left: 24px;
        width: 462px;
        flex: none;
        transition: 0.3s;

        &:last-child {
            margin-right: 24px;
        }
    }

    &__img {
        padding-bottom: 86%;
        margin-bottom: 35px;
    }

    &__name {
        text-align: center;
        font-weight: 500;
        font-size: 42px;
        text-transform: uppercase;
    }

}

.menuList {
    margin: 35px 0 -45px -17px;
    display: flex;
    flex-wrap: wrap;
    max-width: 928px;

    &__item {
        padding-left: 17px;
        width: 33.3%;
        margin-bottom: 19px;
        transition: 0.3s;
    }

    &__img {
        padding-bottom: 100%;
    }

    &__name {
        text-align: center;
        font-weight: 500;
        font-size: 23px;
        line-height: 1.6;
        margin-top: 18px;
        text-transform: uppercase;
        min-height: 72px;
    }

}

.single {
    margin-top: 17px;
    margin-bottom: -10px;
    max-width: 910px;
    transition: 0.3s;

    &__img {
        padding-bottom: 100.6%;
    }

    &__info {
        margin-top: 61px;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 62px;
    }

    &__name {
        font-weight: 500;
        font-size: 52px;
        line-height: 1.3;
        text-transform: uppercase;
        color: $color_primary;
        flex-grow: 1;
        min-width: 0;
    }

    &__data {
        display: flex;
        font-weight: 500;
        font-size: 34px;
        line-height: 0.95;
        white-space: nowrap;
        margin-left: 30px;
        flex: none;
        margin-bottom: 8px;
    }

    &__sep {
        border-right: 3px solid $color_primary;
        margin-right: 23px;
        margin-left: 20px;
    }

    &__compound {
        display: flex;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.6;
    }

    &__label {
        text-transform: uppercase;
        color: $color_primary;
        margin-right: 6px;
    }

}
