/* Footer
 ----------------------------------------------------------------------------- */
.address {
	background: url("../img/marker.svg") 0 0 no-repeat;
	background-size: 15px;
	padding-left: 27px;
}

.site {
	color: $color_primary;
	margin: 0 42px 0 0;
}

.phone {
	background: url("../img/phone.svg") 0 0 no-repeat;
	background-size: 20px;
	padding-left: 30px;
}

.footer {
	position: relative;
	padding: 34px 40px 34px 44px;
	border-top: 1px solid rgba(164, 135, 107, 0.46);
	// background-color: #ddd;
	font-size: 18px;
	line-height: 139.69%;
	text-transform: uppercase;

	&__content {
		// @extend .container_center;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
