/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 18px 0 12px;
	// background-color: #ddd;
	border-bottom: 1px solid rgba(164, 135, 107, 0.46);

	@media (min-width: 768px) {
		padding: 28px 0 22px;
	}

	@media (min-width: 992px) {
		padding: 10px 0 9px;
	}

	&__content {
		// @extend .container_center;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	&__lang {
		// margin-left: -1em;

		ul {
			list-style: none;
			padding: 0;
			margin: 20px 0;
			font-weight: 500;
			font-size: 16px;

			@media (min-width: 768px) {
				font-size: 20px;
			}

			@media (min-width: 992px) {
				margin: 20px 0 0;
			}
		}

		li {
			margin-bottom: 18px;

			@media (min-width: 992px) {
				margin-bottom: 10px;
			}
		}

		a {
			display: block;
			padding: 8px 5px 5px 24px;
			position: relative;
			text-transform: uppercase;

			@media (min-width: 768px) {
				padding: 8px 5px 5px 34px;
			}

			&:after {
				display: none;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				transition: 0.3s;
				width: 0;
				top: 0;
				left: 0;
				bottom: 0;
				background: #A4876B;
				border-radius: 0 26.5763px 26.5763px 0;
				z-index: -1;
			}

			&.active,
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}

	&__action {
		width: 59px;
		margin-left: 13px;
		padding-top: 20px;

		@media (min-width: 768px) {
			width: 79px;
			padding-top: 34px;
		}

		@media (min-width: 992px) {
			padding-top: 25px;
		}
	}
}

.logo {
	margin-top: 8px;
	width: 102px;

	@media (min-width: 768px) {
		width: 162px;
	}

	@media (min-width: 992px) {
		width: 140px;
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
