/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-transform: uppercase;

    &__title {
        font-size: 78px;
        margin: 0 0 20px;
    }

    &__list {
        margin: 0;
        padding: 0 0 0 5px;
        list-style: none;
    }

    &__item {
        font-size: 23px;
        margin-bottom: 19px;
    }

    &__link {}

}
