// Main wrappers =====================================

body {
	display: flex;
	flex-direction: column;
	font-size: $main_font_size;
	height: auto;
	min-height: 100%;
	background: #1B3E3D url("../img/aside.svg") right top repeat-y;
	background-size: 205px auto;
}

a {
	color: $main_color;
	text-decoration: none;

	&:not([class]) {
		&:after {
			content: '';
			display: block;
			border-top: 1px solid;
			width: 0;
			margin-left: 50%;
			transition: 0.3s;
		}

		&:hover {
			&:after {
				width: 100%;
				margin-left: 0;
			}
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
	padding: 56px;
}

.container_center {
	max-width: $container_width;
	padding: 0 1em;
	margin-left: auto;
	margin-right: auto;
}
