@font-face {
    font-family: 'PF Bague Sans Pro';
    src: url("../fonts/PFBagueSansPro-Medium.eot");
    src: local('PF Bague Sans Pro Medium'), local('PFBagueSansPro-Medium'), url("../fonts/PFBagueSansPro-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/PFBagueSansPro-Medium.woff2") format('woff2'), url("../fonts/PFBagueSansPro-Medium.woff") format('woff'), url("../fonts/PFBagueSansPro-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Bague Sans Pro';
    src: url("../fonts/PFBagueSansPro-UltraBlack.eot");
    src: local('PF Bague Sans Pro Ultra Black'), local('PFBagueSansPro-UltraBlack'), url("../fonts/PFBagueSansPro-UltraBlack.eot?#iefix") format('embedded-opentype'), url("../fonts/PFBagueSansPro-UltraBlack.woff2") format('woff2'), url("../fonts/PFBagueSansPro-UltraBlack.woff") format('woff'), url("../fonts/PFBagueSansPro-UltraBlack.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Bague Sans Pro';
    src: url("../fonts/PFBagueSansPro.eot");
    src: local('PF Bague Sans Pro'), local('PFBagueSansPro'), url("../fonts/PFBagueSansPro.eot?#iefix") format('embedded-opentype'), url("../fonts/PFBagueSansPro.woff2") format('woff2'), url("../fonts/PFBagueSansPro.woff") format('woff'), url("../fonts/PFBagueSansPro.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
