.menuSlider {
    display: flex;
    margin-left: -51px;
    margin-right: -37px;
    margin-bottom: 66px;
    padding: 0 0 34px 33px;
    overflow-x: auto;
    background: url("../img/arrow.svg") left 59px bottom 3px no-repeat;
    background-size: 570px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &__item {
        padding-left: 16px;
        width: 297px;
        flex: none;
        transition: 0.3s;

        &:last-child {
            margin-right: 24px;
        }
    }

    &__img {
        padding-bottom: 86%;
        margin-bottom: 22px;
    }

    &__name {
        text-align: center;
        font-weight: 500;
        font-size: 27px;
        text-transform: uppercase;
    }

}
