.menuList {
    margin: 25px 0 -24px -10px;
    display: flex;
    flex-wrap: wrap;
    // max-width: 593px;

    &__item {
        padding-left: 10px;
        width: 50%;
        margin-bottom: 12px;
        transition: 0.3s;
        max-width: 235px;

        @media (min-width: 768px) {
            width: 33.3%;
        }
    }

    &__img {
        padding-bottom: 100%;
    }

    &__name {
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.6;
        margin-top: 9px;
        text-transform: uppercase;
        min-height: 48px;
    }

}
