.search {
    &__title {
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 28px;
        text-transform: uppercase;
    }

    &__form {
        display: flex;
        position: relative;

        input {
            flex-grow: 1;
            max-width: 100%;
        }

        .btn {
            @extend .icon-search;
            position: absolute;
            right: 0;
            top: 0;
            width: 56px;
            height: 56px;
            background-color: #1F4544;
            background-size: 26px;

            &:hover {
                background-color: lighten(#1F4544, 5%);
            }
        }
    }
}
