.single {
    margin-top: 11px;
    margin-bottom: 2px;
    transition: 0.3s;
    max-width: 581px;

    @media (min-width: 992px) {
        max-width: none;
        display: flex;
        align-items: flex-start;
    }

    &__img {
        padding-bottom: 100.7%;

        @media (min-width: 768px) {}

        @media (min-width: 992px) {
            flex: none;
            padding-bottom: 460px;
            width: 500px;
        }
    }

    &__info {
        margin-top: 39px;

        @media (min-width: 992px) {
            margin-left: 50px;
        }
    }

    &__top {
        margin-bottom: 37px;

        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 26px;
        line-height: 1.35;
        text-transform: uppercase;
        color: $color_primary;
        flex-grow: 1;
        min-width: 0;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            font-size: 33px;
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            margin-bottom: 15px;
        }
    }

    &__data {
        display: flex;
        font-weight: 500;
        font-size: 22px;
        line-height: 0.95;
        white-space: nowrap;
        flex: none;
        margin-bottom: 8px;

        @media (min-width: 768px) and (max-width: 991px) {
            margin-left: 25px;
        }
    }

    &__sep {
        border-right: 2px solid $color_primary;
        margin-right: 13px;
        margin-left: 13px;
    }

    &__compound {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__label {
        text-transform: uppercase;
        color: $color_primary;
        margin-right: 4px;
    }

}
