.single {
    margin-top: 11px;
    margin-bottom: 2px;
    max-width: 581px;
    transition: 0.3s;

    &__img {
        padding-bottom: 100.7%;
    }

    &__info {
        margin-top: 39px;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 37px;
    }

    &__name {
        font-weight: 500;
        font-size: 33px;
        line-height: 1.35;
        text-transform: uppercase;
        color: $color_primary;
        flex-grow: 1;
        min-width: 0;
    }

    &__data {
        display: flex;
        font-weight: 500;
        font-size: 22px;
        line-height: 0.95;
        white-space: nowrap;
        margin-left: 25px;
        flex: none;
        margin-bottom: 8px;
    }

    &__sep {
        border-right: 2px solid $color_primary;
        margin-right: 13px;
        margin-left: 13px;
    }

    &__compound {
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;
    }

    &__label {
        text-transform: uppercase;
        color: $color_primary;
        margin-right: 4px;
    }

}
