extends layout/layout.pug

block content
    // begin parts
    .parts
        a.parts__item(href="")
            span.img
                img(src="img/citchen.jpg", alt="")
            span.parts__name кухня
        a.parts__item(href="")
            span.img
                img(src="img/bar.jpg", alt="")
            span.parts__name бар

    // end parts

    // begin sales
    .sales
        .sales__title 8 марта в NAVAT!
        .sales__content
            .sales__img
                img(src="img/sales.jpg", alt="")

    // end sales
