extend layout/layout.pug

block content

    // begin pageTop
    .menuTop
        .menuBack
        .menuPart кухня

    // end pageTop

    .menu
        .menuTitle.menuTitle_lg меню
        // begin menuSlider
        .menuSlider
            each item, i in ['ЗАВТРАКИ', 'выпечка', 'салаты','ЗАВТРАКИ', 'выпечка', 'салаты']
                if i === 0
                    a.menuSlider__item(href="https://chaihananavat.ru/upload/uf/49a/49aaebd293e62035638fd07b01303e72.jpg" data-lightbox)
                        .menuSlider__img.img
                            img(src="img/menu-1.jpg", alt="")
                        .menuSlider__name=item
                else
                    a.menuSlider__item(href="cat.html")
                        .menuSlider__img.img
                            img(src="img/menu-1.jpg", alt="")
                        .menuSlider__name=item

        // end menuSlider

        // begin sales
        .sales
            .sales__title 8 марта в NAVAT!
            .sales__content
                .sales__video
                    video(controls poster="img/video.jpg")
                        source(src="")


        // end sales

    .lightbox
        .lightbox__close
        .lightbox__content
