extend layout/layout.pug

block content
    // begin pageTop
    .menuTop
        a.menuBack(href="/") на главную
        .menuPart

    // end pageTop

    .menu
        .menuTitle результаты поиска: 
            span.menuTitle__count 1

        .menuList
            each item, i in ['каша овсяная', 'яичница глазунья', 'блинчики с шоколадом', 'сырники']
                a.menuList__item(href="single.html")
                    .menuList__img.img
                        img(src="img/menu-list-"+(i+1)+".jpg", alt="")
                    .menuList__name=item
